::-webkit-scrollbar {
    display: none;
}

.results {
  text-align: center;

  table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-top: 2px solid black;

    &:nth-child(1) {
      border-top: none;
    }

    tbody {
      .legendaRow {
        font-weight: bold;
      }
      .infoRow {
        cursor: context-menu;
        &:hover {
          background-color: #eee;
        }
      }
    }

    td {
      width: 33%;
      padding: 8px;
      border-bottom: 1px solid black;
    }
  }
}
